html {
  font-size: 14px;
}

html {
    font-family: Lato
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mv {
    
}

.mv-empty td{
    background-color: indianred;
}

.expandable{

}

.mv button {
    border-color: slategrey;
    border-width: 4px;
    background-color: #f0f8ff;
    border-radius: 2px;
    border-style: groove;
    transition-duration: 0.2s;
}

.mv button:hover {
    background-color: #d7ecff;
}

.mv .movie-name {
    font-size: 18px;
    font-style: oblique;
}