@page
@using Core
@using DataAccess
@using DataAccess.Models
@model BerrasBio.Pages.ConfirmationModel
@{
    Logic logic = new Logic();
    Screening screening = Model.ConfirmedOrder.Screening;
}
<div class="text-center">
    <h1>Ditt köp är klargjort!</h1>  
</div>
<div>
    <h2 style="font-size: 24px">@screening.Movie.Name</h2>
    <h2 style="font-size: 22px">@screening.DateTime</h2>
    <h3 style="font-size: 18px">Antal biljetter: @Model.ConfirmedOrder.TicketAmount</h3>
    <h4 style="font-size: 16px">Du finner din biljett i: @logic.ReceiptPath()</h4>
</div>