@page
@model IndexModel
@{
    ViewData["Title"] = "Välkommen Till Berras Bio";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Till Berras Bio!</h1>
</div>
<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Åldersgräns</th>
            </tr>
        </thead>
        <tbody style="background-color: #f0f8ff">
            @foreach (var movie in Model.movies)
            {
                <tr class="mv">
                    <td class="movie-name">@movie.Name</td>
                    <td>@foreach (var genre in movie.Genres)
                        {
                            <text>@genre.GenreName </text>
                        }
                    </td>
                    <td>@movie.AgeRestriction</td>
                    <td><button type="button">Köp Biljett</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>