@page
@model IndexModel
@{
    ViewData["Title"] = "Välkommen Till Berras Bio";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Till Berras Bio!</h1>
</div>
<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.movies)
            {
                <tr>
                    <td>@movie.Name</td>
                    <td><button type="button">click me</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>