@page
@model IndexModel
@{
    ViewData["Title"] = "Välkommen Till Berras Bio";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Till Berras Bio!</h1>
</div>
<div class="text-center">
    <form method="post">    
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Åldersgräns</th>
            </tr>
        </thead>
        <tbody style="background-color: #f0f8ff">
            @foreach (var screening in Model.screenings)
            {
                <tr class="mv">
                    <td class="movie-name">@screening.Movie.Name</td>
                    <td>@foreach (var genre in screening.Movie.Genres)
                        {
                            <text>@genre.GenreName </text>
                        }
                    </td>
                    <td>@screening.Movie.AgeRestriction</td>
                    <td><input type="hidden" asp-for="ScreeningId" placeholder=@screening.ScreeningId value=@screening.ScreeningId/><button type="submit">Köp Biljett</button></td>
                </tr>
            }
        </tbody>
    </table>
    </form>

</div>